.btn {
    cursor: pointer;
  }
  
.email {
    margin: 2vw;
    width: 10vw;
    height: 10vw;
    background-image: url('assets/email.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-width: 0px;
    background-color: transparent;
    box-shadow: 0 0 0px 0px #599c5b inset, 0 0 0 0 #599c5b;
    transition: all 150ms ease-in-out;
  }
  
.email:hover {
    box-shadow: 0 0 10px 0 #599c5b inset, 0 0 30px 5px #05753d;
  }
  
.facebook {
    margin: 2vw;
    width: 10vw;
    height: 10vw;
    background-image: url('assets/facebook.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-width: 0px;
    background-color: transparent;
    box-shadow: 0 0 0px 0px #378be1 inset, 0 0 0 0 #378be1;
    transition: all 150ms ease-in-out;
  }
  
.facebook:hover {
    box-shadow: 0 0 10px 0 #378be1 inset, 0 0 30px 5px #378be1;
  }

.linkedin {
    margin: 2vw;
    width: 10vw;
    height: 10vw;
    background-image: url('assets/linkedin.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-width: 0px;
    background-color: transparent;
    box-shadow: 0 0 0px 0px #3fd2c8 inset, 0 0 0 0 #3fd2c8;
    transition: all 150ms ease-in-out;
  }

.linkedin:hover {
    box-shadow: 0 0 10px 0 #3fd2c8 inset, 0 0 30px 5px #3fd2c8;
  }

.twitter {
      margin: 2vw;
      width: 10vw;
      height: 10vw;
      background-image: url('assets/twitter.png');
      background-size: cover;
      background-repeat: no-repeat;
      border-width: 0px;
      background-color: transparent;
      box-shadow: 0 0 0px 0px #86dbde inset, 0 0 0 0 #86dbde;
      transition: all 150ms ease-in-out;
    }

.twitter:hover {
      box-shadow: 0 0 10px 0 #86dbde inset, 0 0 30px 5px #86dbde;
    }

.imc {
      height: 14vw;
      width: 75vw;
      background-image: url('assets/sponsors/imc.png');
      background-size: cover;
      background-repeat: no-repeat;
      border-width: 0px;
      background-color: transparent;
    }

.imc:hover {
      animation: pulse .5s;
      transition: .3s;
    }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }

  .fleetcor {
    height: 5.3vw;
    width: 50vw;
    background-image: url('assets/sponsors/flt.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-width: 0px;
    background-color: transparent;
  }

.fleetcor:hover {
    animation: pulse .5s;
    transition: .3s;
  }
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}

.morningstar {
  height: 10vw;
  width: 45vw;
  background-image: url('assets/sponsors/morningstar.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 0px;
  background-color: transparent;
}

.morningstar:hover {
  animation: pulse .5s;
  transition: .3s;
}
@keyframes pulse {
0% {
  transform: scale(1);
}
70% {
  transform: scale(.9);
}
  100% {
  transform: scale(1);
}
}

.oi {
  height: 30vw;
  width: 30vw;
  background-image: url('assets/sponsors/oi.gif');
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 0px;
  background-color: transparent;
}

.oi:hover {
  animation: pulse .5s;
  transition: .3s;
}
@keyframes pulse {
0% {
  transform: scale(1);
}
70% {
  transform: scale(.9);
}
  100% {
  transform: scale(1);
}
}
      

