#container {
    background-color:black;
    width:100%;   
    height:300px;
    overflow:hidden;
    position:fixed;
    
}

.bg {
  width:100%; 
  height:300px; 
  position:absolute;
   }

#panel1{
  background-image: url("assets/panel_1_ver.png");
  background-size: 100% ;
  background-repeat: no-repeat;
  width:100%;
  height:141vw;
  margin: 0px 0px 0px 0px;
}

#panel2{
  background-image: url("assets/panel_2_hor.png");
  background-size: cover;
  background-repeat: no-repeat;
  width:149vh;
  height:100%;
  margin: 0px 0px 0px 0px;
}

