#container {
  background-color: black;
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: fixed;
}

.bg {
  width: 100%;
  height: 300px;
  position: absolute;
}

#panel1 {
  background-image: url("assets/panel_1_ver.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 140vw;
  margin: 0px 0px 0px 0px;
}

#panel2 {
  background-image: url("assets/panel_2_hor.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 67.2vw;
  margin: 0px 0px 0px 0px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  /*position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* left: 0; */
  /* top: 0; */
  /*width: 100%; /* Full width */
  /*height: 100%; /* Full height */
  /*overflow: auto; /* Enable scroll if needed */
  /*background-color: rgb(0, 0, 0); /* Fallback color */
  /*background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  /*top: 100%;*/
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  position: fixed;
  top: 40vh;
  left: 35vw;
  /* margin: 15% auto; 15% from the top and centered */
  /* padding: 20px; */
  border: 1px solid #888;
  width: 30%; /*Could be more or less, depending on screen size*/
  height: 30%; /*Could be more or less, depending on screen size*/
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close3 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close4 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

section {
  background: rgb(146, 187, 187);
  padding: 2rem 3vw;
}

section::after {
  content: "";
  display: table;
  clear: both;
  height: auto;
}
.button {
  border: none;
  color: white;
  padding: 1rem 4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: rgb(31, 31, 31);
  color: white;
}

.content {
  padding: 0 18px;
  background-color: rgb(233, 241, 241);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.bullet {
  color: teal;
  font-weight: bold;
  margin-right: 0.25rem;
}
.about {
  color: black;
  position: absolute;
  top: 185vw;
  padding-left: 7vw;
  padding-right: 7vw;
  font-size: 2vw;
}

.chicken {
  position: fixed;
  top: 50vh;
  width: 100vw;
  height: 100vh;
}

.left{
  position: absolute;
  width: 100%;
  left: 0;
  height: inherit;
  background-image: url("assets/fog_left.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.right{
  position: absolute;
  width: 100%;
  right: 0;
  height: inherit;
  background-image: url("assets/fog_right.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.map {
  /* background-color: black; */
  width: 100vw; /* Full width */
  height: 50vh; /* Full height */
  position: absolute;
  top: 65vw;
}

.button1 {
  position: relative;
  top: 14vw;
  left: 14vw;
  width: 21vw; /* Full width */
  height: 8vw; /* Full height */
  background-color: transparent;
}
.button2 {
  position: relative;
  top: 13vw;
  left: 35vw;
  width: 18vw; /* Full width */
  height: 8vw; /* Full height */
  background-color: transparent;
}
.button3 {
  position: relative;
  top: 35vw;
  left: -20vw;
  width: 20vw; /* Full width */
  height: 8vw; /* Full height */
  background-color: transparent;
}
.button4 {
  position: relative;
  top: 35vw;
  left: 6vw;
  width: 17vw; /* Full width */
  height: 8vw; /* Full height */
  background-color: transparent;
}
